h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

.list-group-item {
  border-left: 4px solid #3b5998;
  transition: background 0.2s;
}

.list-group-item:hover {
  background-color: #f7f9fc;
  cursor: pointer;
}
