.sidebar-container {
  width: 260px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  min-height: 100vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h5 {
  font-size: 1.1rem;
}

.list-group-item {
  cursor: pointer;
  font-size: 0.95rem;
  color: #333;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
  background-color: #f0f2f5;
}

.list-group-item.active {
  background-color: #1877f2;
  color: #fff;
  font-weight: 500;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.submenu {
  border-left: 2px solid #e0e0e0;
}

.submenu-item {
  font-size: 0.9rem;
  color: #555;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.submenu-item:hover {
  background-color: #f7f9fc;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}